/Platforms/DotNet/Streaming Layer Dashboard/TestResults
/Platforms/DotNet/Streaming Layer Dashboard/Client Testing/obj
/Platforms/DotNet/Streaming Layer Dashboard/Client Testing/bin
/Platforms/DotNet/Streaming Layer Dashboard/ArcGis.Runtime.Service.Client/obj
/Platforms/DotNet/Streaming Layer Dashboard/ArcGis.Runtime.Service.Client/bin
/Platforms/DotNet/Streaming Layer Dashboard/*.suo
